table, td {
    border: 1px solid #333;
}

th, tfoot, thead {
    background-color: #333;
    color: #fff;
}

body {
    background-color: bisque;
}

input[type="number"] {
    width: 3.5em;
}

#normalNumber {
    width: 5em;
}